.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.login-box {
  color: rgb(25, 64, 109);
  border-width: 1px;
  background-color: rgb(254, 255, 255);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: left;
}
.login-box h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.formulario {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  background-color: white;
  width: 100%;
  padding: 4px;
  border-color: rgb(3, 3, 3);
  border-radius: 10px;
  border-width: 1px;
}

button {
  width: 100%;
  padding: 6px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4585ca;
}
