.controle-estoque {
  margin-top: 25%;
  width: 500px;
  padding: 40px;
  border-color: #007bff;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.controle-estoque h2 {
  text-align: center;
  font-weight: bold;
  color: rgb(25, 64, 109);
  margin-bottom: 20px;
  font-size: 20px;
}

.novousuario {
  font-size: 15px;
  margin-top: -30px;
  font-weight: bold;
  color: white;
  background-color: rgb(25, 64, 109);
  padding: 10px;
  border-radius: 10px;
}

.controle-estoque label {
  display: block;
  margin-bottom: 25px;
  font-size: 18px;
}

.controle-estoque input,
.controle-estoque select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.controle-estoque button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.controle-estoque button:hover {
  background-color: #4585ca;
}
